<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<!-- Edited by: Michael Danner -->
<head>

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
  <script src="//cdn.optimizely.com/js/5046370664.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% if page_description %}
  <meta name="description" content="{{ page_description }}" />
{% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <meta name="google-site-verification" content="of4PvUHbYoO8zTSM84DI9bBo3BJNGizV3Xs-vy-2FSg" />

  <meta property="og:site_name" content="{{ shop.name }}" />

{% if template contains 'product' %}
  <meta property="og:image" content="{{ product.featured_image | product_img_url: 'large'  | prepend: 'https:' }}" />
  {% elsif template contains 'article' %}
  {% if article.content contains '&#60;img' %}
  {% assign src = article.content | split: 'src="' %}
  {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'https://cdn' | replace: 'http:http://', 'https://' %}
  {% if src %}<meta property="og:image" content="{{ src }}" />{% endif %}
  {% endif %}
  {% else %}
  <meta property="og:image" content="{{ 'draxe-logo.png' | asset_url | prepend: 'https:' }}" />
{% endif %}

{% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
{% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
{% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
{% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <link href="{{ 'favicon.ico' | asset_url  }}" rel="shortcut icon" type="image/x-icon" />

  {{ content_for_header }}

  {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
  {{ 'assets.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
  {{ 'zozo.tabs.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.bxslider.css' | asset_url | stylesheet_tag }}
  {{ 'custom-style.scss' | asset_url | stylesheet_tag }}
  {{ 'vendor.css' | asset_url | stylesheet_tag }}
  {{ 'bvaccel.css' | asset_url | stylesheet_tag }}

  {{ settings.base_font_custom_code }}
  {{ settings.heading_font_custom_code }}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  {{ 'ie8.css' | asset_url | stylesheet_tag }}
  <![endif]-->

  <!--[if gte IE 9]>
  <style type="text/css">.gradient {filter: none;}</style>
  <![endif]-->

{% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
{% endif %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'bootstrap.min.js'  | asset_url | script_tag }}
  {{ 'jquery-migrate-1.2.1.min.js'  | asset_url | script_tag }}
  {{ 'jquery.mobile.customized.min.js'  | asset_url | script_tag }}
  {{ 'shop.js'  | asset_url | script_tag }}
  {{ 'camera.min.js'  | asset_url | script_tag }}
  {{ 'jquery.easing.1.3.js'  | asset_url | script_tag }}
  {{ 'api.jquery.js' | asset_url | script_tag }}
  {{ 'ajaxify-shop.js' | asset_url | script_tag }}
  {{ 'hoverIntent.js' | asset_url | script_tag }}
  {{ 'superfish.js' | asset_url | script_tag }}
  {{ 'supersubs.js' | asset_url | script_tag }}
  {{ 'jquery.mobilemenu.js' | asset_url | script_tag }}
  {{ 'sftouchscreen.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox-1.3.4.js' | asset_url | script_tag }}
  {{ 'jquery.bxslider.min.js' | asset_url | script_tag }}
  {{ 'jquery.caroufredsel.min.js' | asset_url | script_tag }}
  {{ 'jquery.nivoslider.js'  | asset_url | script_tag }}
  {{ 'jquery.customSelect.min.js' | asset_url | script_tag }}
  {{ 'fancySelect.js' | asset_url | script_tag }}
  {{ 'zozo.tabs.min.js' | asset_url | script_tag }}
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {{ 'custom.js' | asset_url | script_tag }}
  {{ 'cj-override.js' | asset_url | script_tag }}
  {{ 'vendor.js' | asset_url | script_tag }}

  {% include 'snippet-currencies' %}

  {% include 'yotpo.html' %}

  {% include 'carousel-init.html' %}

  {% include 'zendesk.html' %}

  {% include 'vwo.html' %}

</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

{% comment %}Shopify does not support Internet Explorer 6.{% endcomment %}

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div id="site-wrapper">

<div id="mobile-menu">
    <div class="inner-wrap">
        <a class="fa fa-times-circle close-nav" href="#mobile-menu"></a>

      <div class="header_search">
                <form action="/search" method="get" class="search-form" role="search">
                <input id="search-field" name="q" type="text" placeholder="Search store..." class="hint form-control search-field" />
                <input type="submit" class="search-submit" value="Search" />
                </form>
            </div>

      <div class="menu-header-mobile">
                    <h3 class="hidden">{{ settings.mobile_menu_title }}</h3>
                    <ul id="menu-mobile" class="menu">
                        {% for link in linklists[settings.mobile_menu_list].links %}
                        <li>{{ link.title | link_to: link.url }}</li>
                        {% endfor %}
                    </ul>
                </div>

        <!-- USER MENU -->
        <div class="header-top-menu">
              <a href="http://myaccount.zendesk.com/account/dropboxes/20118914" onClick="script: Zenbox.show(); return false;">Customer Support / Contact Us</a>

              {% if shop.customer_accounts_enabled %} | <a title="My account" href="/account">My Account</a>{% endif %}
            </div><!--End user menu-->


            <!-- HEADER CART -->
            <div class="header_cart">
            <a href="/cart"><i class="fa fa-shopping-cart"></i>Cart [<span class="cart-total-items"><span class="count">{{ cart.item_count }}</span><!--{{ cart.item_count | pluralize: "item", "items" }}--></span>]</a>
            </div>

          <div class="social-links">
            <a class="social-link sl-facebook" href="https://www.facebook.com/DrJoshAxe" target="_blank">Dr. Axe on Facebook</a>
            <a class="social-link sl-youtube" href="https://www.youtube.com/user/doctorjoshaxe" target="_blank">Dr. Axe on Facebook</a>
            <a class="social-link sl-pinterest" href="https://www.pinterest.com/draxe/" target="_blank">Dr. Axe on Facebook</a>
            <a class="social-link sl-googleplus" href="https://plus.google.com/b/103498688661471602480/+drjoshaxe/posts" target="_blank">Dr. Axe on Facebook</a>
        </div><!--End social-links-->
    </div>
</div>

<div id="wrapper">



<div class="page_container_main">

<!-- HEADER -->
<header id="header">

        <div class="header-top">

    <!-- LOGO testing -->

  <a id="logo" href="/" rel="home"></a>
  <a class="nav-button open-nav" href="#mobile-menu"></a>

  <div class="header_search hide-mobile">
            <form action="/search" method="get" class="search-form" role="search">
            <input id="search-field" name="q" type="text" placeholder="Search store..." class="hint form-control search-field" />
            <input type="submit" class="search-submit" value="Search" />
            </form>
        </div>

  {% if settings.header_banner_img_toggle %}
  <!--BEGIN FEATURED PRODUCT-->
        <a class="header-banner hide-mobile" href="{{ settings.header_banner_img_link }}">
            <img src="{{ 'header_banner_img.jpg' | asset_url }}" alt="{{ settings.header_banner_img_alt }}"/>
        </a>
  {% endif %}

    <div class="header-blocks hide-mobile">

    <!-- USER MENU -->
    <div class="header-top-menu">
          <a href="https://store.draxe.com/account/login">My Account</a> | <a href="https://store.draxe.com/tools/checkout/front_end/login">Manage Subscription</a> <br />
      <strong>Need help?</strong> <a href="https://draxe.zendesk.com/hc/en-us">Answers</a> <!--| <a href="https://myaccount.zendesk.com/account/dropboxes/20118914" onClick="script: Zenbox.show(); return false;">Contact Us</a><!--<a href="mailto:support@draxe.com">support@draxe.com</a>-->
        </div><!--End user menu-->


        <!-- HEADER CART -->
        <div class="header_cart">
        <a href="/cart"><i class="fa fa-shopping-cart"></i>Cart <span class="cart-total-items"><span class="count">{{ cart.item_count }}</span><!--{{ cart.item_count | pluralize: "item", "items" }}--></span></a>
        </div>

        <!-- TODO: Maybe Remove? -->
        <!-- CURRENCIES
        {% if settings.show_multiple_currencies %}
        {% include 'widget-currencies-switcher' %}
        {% endif %}
        -->

    <div class="clearfix"></div>

    </div>

</div><!--End header top-->




</header>

<div id="slide-wrapper">



<!-- MAIN CONTENT -->
<div id="main" role="main">


{% if settings.main_nav != '' %}
<!-- MAIN NAVIGATION BAR -->

<div class="header-btm">
    <div class="menu-secondary-container">
      <ul class="menu-secondary" id="menu-health-menu">
        {% for link in linklists[settings.main_nav].links %}

        {% assign has_products = false %}
        {% if link.type == 'collection_link' and link.object.products_count > 0 %}
      {% assign has_products = true %}

      {% endif %}
           <li class="{% if has_products %} has-dropdown{% endif %}">
             {% assign collection_menu = link.object %}
            <span> {{ link.title | link_to: link.url }}</span>
             {% if has_products %}
              <div class="nav-dropdown-cntr">
                  <div class="inner">
                {% if collection_menu.image %}
                <div class="big-thumb">
                  <figure><a href="{{ collection_menu.url }}" class="first">
                    <img data-src="{{ collection_menu.image.src | img_url: 'large' }}"></a>
                  </figure>
                  <a href="{{ collection_menu.url }}" class="first"><span>Show Now</span></a>
                </div>
                {% endif %}
                <div class="right-thumbs">
                  <ul>
                    {% for prod in collection_menu.products limit:12 %}
                      <li class="" style="margin-bottom:15px;">
                          <a href="{{ collection_menu.url }}{{ prod.url }}" class="">
                          <img data-src="{{ prod.featured_image.src | img_url: 'medium' }}">
                            <span class="title">{{ prod.title }}</span>
                          </a>
                      </li>

          {% endfor %}

                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
              </div>
             {% endif %}
          </li>
    {% endfor %}

    </ul>
    {% include 'lazyload.js' %}
</div><!--End menu-secondary-container-->
</div><!--End header-btm-->
{% endif %}<!--END NAVIGATION-->

<!-- Slider -->
{% if page == pages.frontpage %}
    {% if settings.slider_toggle %}
        {% include 'widget-home-slider' %}
    {% endif %}
{% endif %}


<div class="container">

{% if template != 'index' and settings.enable_breadcrumbs == 'true' %}
{% include 'snippet-breadcrumbs' %}
{% endif %}

{% case template %}
    {% when 'page.noasides' %}
        {% assign width_sidebars = false %}
    {% else %}
        {% assign width_sidebars = true %}
{% endcase %}

{% if template contains 'customers' %}
  {% assign width_sidebars = false %}
{% endif %}

  {% if template == 'collection' %}
    {% if settings.enable_left_sidebar and width_sidebars == true %}
       <div class="row sidebar_left">
    {% endif %}
  {% else %}
     <div class="row">
  {% endif %}


    <div class="column_center">

  {% if template == 'collection' %}
    {% if settings.enable_left_sidebar and width_sidebars == true %}
       <div id="main_content" class="col-sm-9">
    {% endif %}
  {% else %}
     <div id="main_content" class="col-sm-12">
  {% endif %}

  {% if template == 'list-collections' %}
    {% include 'collection-listing' %}
    {% else %}
    {{ content_for_layout }}
    {% endif %}

    </div><!--End main_content-->
    </div><!--End column_center-->


    {% if template == 'collection' %}
    {% if settings.enable_left_sidebar and width_sidebars == true %}
    <div class="column_left column col-sm-3">

    <h2 class="sidebar-list-title">By Name</h2>

    <ul class="sidebar-list">
    {% assign products = collection.products | sort: 'title' %}
    {% for product in products %}
          {% include 'product-sidebar-item' %}
        {% else %}
        <div class="col-sm-12"><p>There are no products in this view.</p></div>
        {% endfor %}
    </ul><!--End sidebar-list-->


    </div>
    {% endif %}
  {% else %}
  {% endif %}

  </div>

</div>

</div><!-- / .page_container_main -->
<div class="container" id="trustbadges">
<div class="seals clearfix">
<div class="footer-certificate-icon">
        <!-- (c) 2005, 2014. Authorize.Net is a registered trademark of CyberSource Corporation -->
        <div style="float: left;" class="AuthorizeNetSeal"> <script type="text/javascript" language="javascript">var ANS_customer_id="6cd55073-2da6-4dff-a47a-ab76e338a93f";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script> <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank"><!--Online Payment Processing --></a> </div>
  </div>

<div class="footer-certificate-icon" style="margin: 0 -5px !important;"><img src="https://draxe.com/wp-content/uploads/2014/11/100_Satisfaction_Draxe.png" alt="100_Satisfaction_Draxe" width="90" height="72" class="alignnone size-full wp-image-19053" /></div>
<div class="footer-certificate-icon"><img class="alignnone  wp-image-18771" src="https://draxe.com/wp-content/uploads/2014/10/accept-credit-cards.png" alt="accept-credit-cards" width="93" height="59" /></div>
<div class="footer-certificate-icon">
  <a href="https://www.shopify.com/?utm_source=secure&amp;utm_medium=shop" title="This online store is secured by Shopify" target="_blank"><img src="//cdn.shopify.com/s/images/badges/shopify-secure-badge-light-shadow.png" alt="Shopify secure badge" /></a></div>
  <!-- GeoTrust QuickSSL [tm] Smart  Icon tag. Do not edit. -->
  <!-- tf removed 2016-01-13: broken, slow, not configured according to chat -->
<!-- script language="javascript" type="text/javascript" src="//smarticon.geotrust.com/si.js"></script -->
<!-- end  GeoTrust Smart Icon tag -->
    </div>
  </div>

  </div>
    <!-- FOOTER -->
 <!-- FOOTER -->
  <div id="optin-footer">
        <div class="inner">
      <form accept-charset="UTF-8" action="https://ju127.infusionsoft.com/app/form/process/e61ee54f7efdd3fdb83a4d07f936d417" class="infusion-form" method="POST">
                    <input name="inf_form_xid" type="hidden" value="e61ee54f7efdd3fdb83a4d07f936d417" />
                    <input name="inf_form_name" type="hidden" value="Form with Checkboxes and Tags" />
                    <input name="infusionsoft_version" type="hidden" value="1.30.0.508" />


                    <img src="{{ 'dr-axe-sm.png' | asset_url }}" alt="Dr. Axe" />
                    <h3 class="optin-footer-text"> Get FREE ACCESS &#8594;<br />
                    <span>To my FREE eBook, 30 Gluten-Free Recipes &amp; Shopping Guide!</span></h3>
                     <div class="optin-footer-dropdown">
                     <select class="fancy" name="inf_option_Areyouinterestedin">
                      <option name="default" value="">I'm interested in...</option>
                       <option id="inf_option_Areyouinterestedin_1175" name="inf_option_Areyouinterestedin" value="1175">Healing Foods</option>
                       <option id="inf_option_Areyouinterestedin_1177" name="inf_option_Areyouinterestedin" value="1177">Natural Remedies</option>
                       <option id="inf_option_Areyouinterestedin_1179" name="inf_option_Areyouinterestedin" value="1179">Healthy Recipes</option>
                       <option id="inf_option_Areyouinterestedin_1181" name="inf_option_Areyouinterestedin" value="1181">Fitness / Metabolism</option>
                       <option id="inf_option_Areyouinterestedin_1183" name="inf_option_Areyouinterestedin" value="1183">All of the Above</option>
                      </select>
                      </div><!--End input-container-->
                      <div class="optin-footer-field">
                      <input class="infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text" placeholder="Your Best Email"/>
                    </div><!--End input-container-->
                      <div class="optin-footer-submit">
                      <input type="submit" class="main-submit" value="Sign Me Up!" />
                      </div><!--End submit-container-->

                </form>
        </div><!--End inner-->
    </div><!--End bottom-optin-->
    <footer id="footer">
    <div class="inner">
      <div id="footer-menus">
            <div class="menu-footer">
                <h3>{{ settings.custom_footer1_title }}</h3>
                <ul class="list">
                    {% for link in linklists[settings.custom_footer1_list].links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="menu-footer">
                <h3>{{ settings.custom_footer2_title }}</h3>
                <ul class="list">
                    {% for link in linklists[settings.custom_footer2_list].links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="menu-footer">
                <h3>{{ settings.custom_footer3_title }}</h3>
                <ul class="list">
                    {% for link in linklists[settings.custom_footer3_list].links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="menu-footer">
                <h3>{{ settings.custom_footer4_title }}</h3>
                <ul class="list">
                    {% for link in linklists[settings.custom_footer4_list].links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="inner">

          <p id="disclaimer">** These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease. If you are pregnant, nursing, taking medication, or have a medical condition, consult your physician before using this product.<br /><br />
      <STRONG>* Disclaimer:</STRONG> The entire contents of this website are based upon the opinions of Dr. Axe, unless otherwise noted. Individual articles are based upon the opinions of the respective author, who retains copyright as marked. The information on this website is not intended to replace a one-on-one relationship with a qualified health care professional and is not intended as medical advice. It is intended as a sharing of knowledge and information from the research and experience of Dr. Axe and his community. Dr. Axe encourages you to make your own health care decisions based upon your research and in partnership with a qualified health care professional.</p>
      <div id="site-meta">
        <p id="site-copy">Copyright &copy; 2010-16 Axe Wellness, LLC. All rights reserved.</p>
                <div class="clear"></div>
      </div><!-- #site-meta -->
        </div><!--End inner-->
      </div>
    </footer><!--END FOOTER-->
</div><!--END SLIDE WRAPPER-->

</div>
<a href="#" class="scrollup scrollme">Scroll</a>
</div><!--END SITE WRAPPER-->
  </div>
  </div>
  </div>

{% include 'snippet-currencies' %}

{% include 'zenbox' %}

{% include 'inline-footer-scripts' %}

{% include 'get-site-control' %}

{% include 'google-tag-manager' %}

{% include 'google-remarketing-tag' %}

{% include 'subscription-theme-footer' %}

</body>
</html>
